*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    max-width: 640px;
    margin: 80px auto;
    width: 100%;
}

form{
    margin-top: 40px;
}

input,
button{
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
}

button{
    background-color: rgb(33, 108, 170);
    border: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
}

button:hover{
    background-color: rgb(23, 74, 116);
}

.sucess-message,
.error-message{
    background-color: #27ae60;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    display: none;
}

.error-message{
    background-color: #ae2727;
}